*{
    padding: 0;
    border: 0;
    margin: 0;

}
.main-content{
    width: 75%;
    margin-left: 22%;
padding: 15px;
justify-content: center;
}
header{
    margin-top: 20px;
    text-align: center;
    color: #462a1c;
    font-size: 2rem;
  }

  h2{
    font-weight:bold;
    text-align: center;
  }
table{
    width: 100%;
}

.header{
    background-color:#ded5d0;
}

table,
th,
td {
border-collapse: collapse;
border: 1px solid #462a1c;
}

th {
background-color:#ded5d0;
color: #462a1c;
}

tr:nth-child(even) {
background-color: #ded5d0;
}